<!DOCTYPE html>
<html lang="en_us">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
		<title>Yet Another Agar Clone</title>
		<!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">
	</head>
	<body>
		<div id="gameHelper">
        <p id="controls">Use mouse to move around. Eat food or other smaller players and grow to survive. The bigger you get, the slower you become. Eating food with a black outline temporarily increases your speed. Get eaten and it's Game Over! </p>
        <p id="score">Score: <span>0</span></p>
    </div>
    <img src="images/smth.png" id="smth">
	<canvas id="agarCanvas"></canvas>
	<!--------------------F3: Window Drawing-------------------------------  -->
	<div class="content" id="startScreen">
		<h3 class="content topDownSpacing centerText" style="color:white">Welcome to Agar.io!</h2>
		<h6 class="content topDownSpacing centerText" style="margin-top: 20px">Enter a name below and press start to play</h6>
		<input class="content topDownSpacing" type="text" maxlength="12"id="pName">
		<button class="content button-primary topDownSpacing" id="start">Start</button>
	</div>
	<!-- ------------------F3 End------------------------------- -->
	<div class="content" id="deathScreen">
		<h3 class="content topDownSpacing centerText" style="color:white">Game over!</h2>
		<img class="content topDownSpacing centerText" style="margin-top: 20px;width: 50px;height:50px;" src="images/trophy.png"/>
		<span class="content topDownSpacing centerText" id="deathScore">160</span>
		<a href="/"><button class="content button-primary topDownSpacing" id="start">Play Again!</button></a>
	</div>
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="javascripts/index.js"></script>
	</body>
</html>
