<!DOCTYPE html>
<html lang="en_us">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<title></title>
	</head>
	<body>

	<canvas width="3000" height="3000" id="agarCanvas" style='border:1px solid black'></canvas>

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="javascripts/index.js"></script>
	</body>
</html>