html, body {
	width: 100%;
	height:100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
/* Centering Hack */
.content {
    margin: 0px auto;
    display: table;
}
.content div {
    display: table-cell;
}
/* Top-Down Margin Spacing */
.topDownSpacing {
	margin-top: 5px;
	margin-bottom: 5px;
}
.centerText {
	text-align: center;
}
/* Canvas */
#agarCanvas {
	position: absolute;
	z-index: -1;
}
/* Player welcome screen */
#startScreen {
	left: 40%;
	top: 40%;
	width: 350px;
	background-color: salmon;
	position: absolute;
	z-index: 2;
	/*display:none;*/
}
#pName {
	width: 100px;
}
#deathScreen {
	left: 40%;
	top: 40%;
	width: 350px;
	background-color: salmon;
	position: absolute;
	z-index: 2;
	display: none;
}
#gameHelper {
	 position: fixed;
    z-index: 100;
    height: 40px;
    width: 100%;
    overflow: hidden;
    background-color: #2C3E50;
    opacity: 0.8;
    clear: both;
}
#gameHelper > #controls {
    float: left;
    vertical-align: middle;
    font-size: 18px;
    color: white;
    margin: 5px 10px;
}
#gameHelper > #score {
    float: right;
    vertical-align: middle;
    font-size: 18px;
    color: #2ECC71;
    margin: 5px 10px;
}
